body{
    background-image: url("pictures/backgrounds/25.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Germania One', cursive;
}

#regdiv{

}

#thankp{
    font-size: 60px;
    color: #27ae60;
}

#front{
    font-size: 40px;
    color: #F8F8F8;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    body {
        background-image: url("pictures/mobile wallpapers/1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #thankp{
        font-size: 30px;
    }

    #front{
        font-size: 20px;
    }
}