#titlea{
    font-size: 60px;
    display: block;
    color: #27ae60;
    margin: 2px;
}
main{
    margin-bottom: 268px;
}
#friendaction{
    width: 40px;
    margin: 5px;
}
.navbara{
    color: #F8F8F8;
}
.partdiv{
    width: 150px;
    display: block;
}
.footera{
    color: #F8F8F8;
}
.footerh{
    color: #00B2FF;
}
.maindiv{
    width: auto;
    display: block;
}

.patronsdiv{
    display: block;
    width: auto;
    margin: 10px;
    padding: 5px;
}

.name{
    width: 400px;
    display: block;
    margin: 5px;
    vertical-align: top;
}

.tdcollar{
    display: block;
    margin: 5px;
}

.tdsleeves{
    display: block;
    margin: 5px;
}

.tdparka{
    display: block;
    margin: 5px;
}

.tdbadge{
    display: block;
    margin: 5px;
    min-width: 100px;
}

.tdpoints{
    display: block;
    margin: 5px;
    min-width: 20px;
    vertical-align: top;
}

.namea{
    font-size: 45px;
    color: #F8F8F8;
}
.collar_badges{
    max-width: 250px;
    height: 50px;
}

.shoulder_straps{
    min-width: 130px;
    max-width: 250px;
    height: 50px;
}

.parka{
    width: 50px;
    height: 50px;
}

.reward{
    max-width: 250px;
    height: 50px;
}

.pointa{
    font-size: 50px;
    color: #F8F8F8;
}
@media only screen and (max-width: 1450px){
    .namea{
        font-size: 35px;
    }
    .name{
        width: 350px;
    }
    .pointa{
        font-size: 35px;
    }
}
@media only screen and (max-width: 1365px){
    .tdpoints{
        width: 100px;
    }
    .frienddiv{
        width: 150px;
    }
    .tdparka{
        width: 60px;
    }
}
@media only screen and (max-width: 500px){
    .namea{
        font-size: 30px;
    }
    .name{
        width: 250px;
    }
    .pointa{
        font-size: 30px;
    }
    .partdiv{
        width: 250px;
    }
    #titlea{
        font-size: 50px;
    }
}
@media only screen and (min-width: 1066px) {
    #titlea{
        font-size: 80px;
    }

    .partdiv{
        display: inline-block;
    }

    .maindiv{
        display: inline-block;
    }

    .patronsdiv{
        display: inline-block;
    }

    .tdname{
        display: inline-block;
        vertical-align: middle;
    }
    .tdcollar{
        display: inline-block;
    }

    .tdsleeves{
        display: inline-block;
    }

    .tdparka{
        display: inline-block;
    }

    .tdbadge{
        display: inline-block;
    }

    .tdpoints{
        display: inline-block;
    }
}