.commentsec{
    display: none;
    margin-top: 50px;
}
.commentsupperleft{
    width: 60px;
    height: 60px;
    float: left;
    display: inline-block;
}
.commentsupperright{
    max-width: 400px;
    text-align: left;
    margin-left: 70px;
}
.commentsupper{
    height: auto;
}
.commentwrite{
    display: block;
    margin-top: 80px;
    margin-left: 25px;
}
.commentwriteprofpic{
    width: 70px;
    float: left;
    display: inline-block;
}
.commentprofpicdiv{
    height: 100px;
}
.commentprofpic{
    width: 60px;
    height: 60px;
    float: left;
}
.commentwritetextboxdiv{
    display: inline-block;
    max-width: 400px;
}
.commentinput{
    max-width: 400px;
    background-color: #2C2C2C;
    max-height: 50px;
    border: none;
    border-radius: 10px;
    resize: none;
    font-size: 20px;
    color: #F8F8F8;
}
.commentwritesubmit{
    background-color: #2C2C2C;
    width: 200px;
    margin-top: 20px;
    font-size: 20px;
    height: 40px;
    border: none;
    border-radius: 30px;
    color: #27ae60;
    cursor: pointer;
}
.comments{
    margin-left: 25px;
    display: block;
    margin-top: 50px;
}
.commentsupperrightup{
    max-width: 400px;
}
.commentsupperrightupname{
    color: #00B2FF;
    padding-left: 0;
    font-size: 20px;
    vertical-align: top;
    padding-top: 0;
    padding-bottom: 0;
}
.commentsupperrightupdate{
    color: #F8F8F8;
    font-size: 20px;
    vertical-align: top;
    padding-top: 0;
    padding-bottom: 0;
}
.commentsupperrightuppoints{
    color: #F8F8F8;
    font-size: 20px;
    vertical-align: top;
    padding-top: 0;
    padding-bottom: 0;
}
.commentsupperrightupedit{
    max-width: 35px;
}
.commentsupperrightupdelete{
    max-width: 35px;
}
.commentsupperrightdownp{
    width: auto;
    margin-top: 5px;
    word-wrap: break-word;
    color: #F8F8F8;
    font-size: 20px;
}
.commentsupperrightdown{
    max-width: 400px;
}
.commentsbottom{
    margin-top: 20px;
}
.commentsbottombuttons{
    width: 40px;
}
.commentdiv{
    margin-top: 10px;
}
.commentload{
    background-color: #2C2C2C;
    width: 200px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    display: block;
    color: #27ae60;
    cursor: pointer;
}
.ceditdiv{
    display: none;
}
.commenteditsavep{
    background-color: #2C2C2C;
    max-width: 300px;
    height: 30px;
    border: none;
    border-radius: 15px;
    color: #F8F8F8;
}
.commenteditsave{
    background-color: #2C2C2C;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 30px;
    display: block;
    margin: 5px;
    color: #27ae60;
}
@media only screen and (max-width: 1530px){
    .commentinput{
        font-size: 15px;
    }
}
@media only screen and (max-width: 450px){
    .commentwriteprofpic{
        display: none;
    }
    .commentwrite{
        margin: 5px;
    }
    .comments{
        margin-top: 15px;
        margin-left: 5px;
    }
    .commentsec{
        margin-top: 25px;
    }
}
@media only screen and (max-width: 400px){
    .commentsupperrightupdate{
        display: none;
    }
    .commentsbottom{
        margin-top: 0;
    }
    .commentdiv{
        margin-top: 0;
    }
    .commentinput{
        width: 250px;
    }
    .commentload{
        width: 200px;
        height: 35px;
        margin: 10px;
        font-size: 20px;
    }
    .commentwritesubmit{
        width: 200px;
        margin-top: 10px;
        font-size: 20px;
        height: 35px;
    }
    .commentsec{
        margin-top: 15px;
    }
}
@media only screen and (max-width: 350px){
    .commentinput{
        width: 200px;
    }
}