body{
    background-color: #353535;
    font-family: 'Germania One', cursive;
    margin: 0;
}
.disabled{
    display: none;
}
.dropdownclass{
    display: none;
}

#headernav{
    list-style-type: none;
    text-align: center;
    background-color: #464646;
    position: sticky;
    top: 0;
    z-index: 10;
}

#headerul{
    margin: 0;
    padding: 0;
}
.navbara{
    color: #F8F8F8;
    font-size: 20px;
}
.navbarli{
    display: inline-block;
    padding: 10px;
}
#badge {
    position: absolute;
    border-radius: 50%;
    background: red;
    color: white;
    width: 20px;
    height: 20px;
}
.notifinav{
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    padding: 0;
    vertical-align: sub;
    cursor: pointer;
    margin-right: 10px;
}

.settingsnav{
    vertical-align: sub;
    display: inline-block;
    padding: 0;
    text-decoration: none;
    width: 30px;
    height: 30px;
}
#settingsimg{
    width: 30px;
    vertical-align: sub;
}
#bellicon{
    transform: rotate(-20deg);
    width: 30px;
    vertical-align: sub;
}
a{
    text-decoration: none;
}

#logout{
    color: black;
    background-color: #464646;
    border-style: none;
    font-family: 'Germania One', cursive;

}
.footerdiv{
    background-color: #464646;
    height: auto;
    width: 100%;
    overflow: hidden;
    display: block;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: #EEEEEE;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #2A2A2A;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#ftable{
    margin: auto;
    padding: 5px;
}

.footerh, .footertd, .foottertr{
    text-align: center;
    padding: 15px;
}

.footerh{
    font-weight: bold;
    font-size: 20px;
}

.footertd{
    width: 300px;
    font-size: 20px;
}

audio{
    position: sticky;
    bottom: 10px;
    left: 10px;
}


.disabled{
    display: none;
    width: 0;
    margin: 0;
}

.page-item{
    width: auto;
    height: auto;
    display:inline-block;
    text-align:center;
    font-size:25px;
    vertical-align: super;
}
.enabled{
    margin: 5px;
}
.pagilia{
    padding: 0;
}
.page-link{
    color: #F8F8F8;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
}
#pagiul{
    padding: 0;
    margin: 2px;
}
#pagination{
    width: 500px;
    height: auto;
    background-color: #464646;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
}
.pagili{
    margin: 5px;
    width: 30px;
    height: 30px;
    display:inline-block;
    text-align:center;
}

.footera{
    color: #F8F8F8;
}
.footerh{
    color: #00B2FF;
}

#friendaction{
    width: 25px;
    cursor: pointer;
}

@media only screen and (max-width: 550px) {
    .page-link{
        margin-left: 5px;
        margin-right: 5px;
    }
    #pagiul{
        margin: 2px;
    }
    #pagination{
        width: 450px;
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 2px;
    }
    .pagili{
        margin: 5px;
        width: 25px;
        height: 25px;
    }
    .footerdiv{
        display: none;
    }
}
@media only screen and (max-width: 480px) {
    .enabled{
        margin: 5px;
    }
    .page-link{
        margin-left: 5px;
        margin-right: 5px;
    }
    #pagiul{
        margin: 2px;
    }
    #pagination{
        width: 400px;
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 2px;
    }
    .pagili{
        margin: 5px;
        width: 25px;
        height: 25px;
    }
    .settingsnav{
        display: block;
        padding: 0;
        float: none;
    }
    .notifinav{
        padding: 0;
        margin: 10px;
        float: none;
    }
    .dropdownclass{
        display: block;
    }
    #bellicon{
        margin: 5px;
    }

    .navbarli{
        display: none;
        margin-top: 10px;
        margin-bottom: 5px;
        width: auto;
        padding: 0;
    }
    #dropdownimg{
        width: 50px;
    }
    #dropdownimg:hover{
        -webkit-animation: rotate-center 0.6s ease-in-out both;
        animation: rotate-center 0.6s ease-in-out both;
    }
    /* ----------------------------------------------
 * Generated by Animista on 2020-7-29 20:58:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation rotate-center
     * ----------------------------------------
     */
    @-webkit-keyframes rotate-center {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }
        100% {
            -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
        }
    }
    @keyframes rotate-center {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }
        100% {
            -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
        }
    }
    #headerul{
        padding: 0;
    }
    .navbara{
        font-size: 23px;
    }
}
@media only screen and (max-width: 410px) {
    .enabled{
        margin: 3px;
    }
    .page-link{
        margin-left: 2px;
        margin-right: 2px;
    }
    #pagiul{
        margin: 3px;
    }
    #pagination{
        width: auto;
        margin: 25px 5px;
        padding: 2px;
    }
    .pagili{
        margin: 3px;
        width: 20px;
        height: 20px;
    }
    .pagilia{
        width: 20px;
        height: 20px;
    }
}
@media only screen and (max-width: 380px) {
    .enabled{
        margin: 3px;
    }
    .page-link{
        margin-left: 2px;
        margin-right: 2px;
    }
    #pagiul{
        margin: 3px;
    }
    #pagination{
        width: auto;
        margin: 25px 5px;
        padding: 2px;
    }
    .pagili{
        margin: 3px;
        width: 20px;
        height: 20px;
    }
    .pagilia{
        width: 20px;
        height: 20px;
    }
}