#topusername{
    color: #00B2FF;
    font-size: 20px;
}
#description{
    color: #F8F8F8;
    font-size: 20px;
}
.topuserpoints{
    color: #F8F8F8;
    font-size: 20px;
}

.toptr{
    margin: 10px;
    height: 65px;
    text-align: center;
}
.toptd{
    width: 130px;
    margin: 10px;
    text-align: center;
}

#announcements{
    background-color: #27ae60;
    color: white;
    max-width: 450px;
    height: auto;
    border-radius: 5px;
}
#announcementsp{
    margin: 15px;
    text-align: center;
    font-size: 20px;
}

#userdiv{
    background-color: #454646;
    margin: 20px;
    width: 400px;
    height: 400px;
    float: left;
    text-align: justify;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    padding: 10px;
}

#topusers{
    background-color: #464646;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    padding: 10px;
    margin: 20px;
}

.rightdiv{
    float: right;
    margin: 0;
}

#username{
    display: block;
    color: #F8F8F8;
    font-size: 20px;
}
.consider{
    color: #F8F8F8;
    font-size: 20px;
}
#supportersa{
    color: #27ae60;
    font-size: 25px;
}
#userpoints{
    display: block;
    font-size: 20px;
}
#patreon{
    width: 350px;
    height: 125px;
}

#rewards{
    width: auto;
    height: auto;
    padding: 10px;
}
#reward{
    width: 175px;
    height: 50px;
}

.usera{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: #F8F8F8;
}
.insignia{
    margin: 5px;
}
#profile_picture{
    width: 100px;
    height: 110px;
    padding: 5px;
}

#sleeves{
    width: 120px;
    display: inline-block;
    height: 50px;
}
#parka{
    width: 50px;
    height: 50px;
}
#userdescdiv{
    display: block;
    width: auto;
    height: auto;
    margin: 10px;
}

#sleeves_div{
    width: auto;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#collar_badges{
    width: 70px;
    height: 50px;
}
#collar_badgestop{
    width: 65px;
    height: 45px;
}
#postleft{
    float: left;
    margin-left: 15px;
    margin-top: 3px;
}

#postright{
    float: right;
    margin-right: 15px;
    margin-top: 3px;
}

#postdate{
    font-size: 15px;
    color: #F8F8F8;
}
.postpoints{
    color: #F8F8F8;
}
#postera{
    font-size: 20px;
    color: #00B2FF;
}

#postimg{
    width: 675px;
    max-height: 700px;
    height: auto;
}

#postdiv{
    background-color: #464646;
    width: 720px;
    margin: 20px;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    padding: 5px;
}

.postbutton{
    max-width: 70px;
    width: auto;
    height: 25px;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    background-color: grey;
    border-color: grey;
    margin: 5px;
}

#titlediv{
    font-size: 25px;
    float: left;
    text-align: left;
    width: auto;
    min-width: 50px;
    height: auto;
    margin: 5px;
    padding-left: 15px;
}
.titlea{
    color: #F8F8F8;
    padding: 0;
}

@media only screen and (max-width: 1530px){
    #userdiv{
        max-width: 350px;
    }
    #patreon{
        max-width: 350px;
    }
    #topusers{
        max-width: 350px;
    }
    #announcementsp{
        font-size: 17px;
    }
    #postimg{
        width: 475px;
    }
    #postdiv{
        width: 520px;
    }
}
@media only screen and (max-width: 820px){
    #userdiv{
        max-width: 300px;
    }
    #patreon{
        max-width: 300px;
    }
    #topusers{
        max-width: 300px;
    }
    .consider{
        font-size: 15px;
    }
    #supportersa{
        font-size: 20px;
    }
    #topusername{
        font-size: 17px;
    }
    .topuserpoints{
        font-size: 17px;
    }
}
@media only screen and (max-width: 720px){
    #userdiv{
        display: none;
    }
    #topusers{
        display: none;
    }
    #postimg{
        width: 610px;
        max-height: 450px;
        height: auto;
    }
    #postdiv{
        width: 630px;
        margin: 20px;
    }
    #titlediv{
        padding-left: 5px;
    }
}
@media only screen and (max-width: 650px){
    #postimg{
        width: 480px;
    }
    #postdiv{
        width: 500px;
    }
    #postdiv{
        margin: 10px;
    }
    #titlediv{
        margin-left: 0;
        padding-left: 10px;
    }
    #postleft{
        margin-left: 0;
    }
}
@media only screen and (max-width: 580px) {
    #postimg{
        width: 430px;
        margin: 0;
    }
    #postdiv{
        width: 450px;
        padding: 0;
    }
}
@media only screen and (max-width: 470px) {
    #postimg{
        width: 100%;
        min-height: 180px;
    }
    #postdiv{
        width: 100%;
        margin: 25px 0;
    }
    #postleft{
        float: none;
        margin: 5px;
    }
    #postright{
        float: none;
        margin: 5px;
    }
    #titlediv{
        padding-left: 5px;
    }
}
@media only screen and (max-width: 400px) {
    #postimg{
        min-height: 150px;
    }
    .navbara{
        font-size: 15px;
    }
}