body{
    background-color: #353535;
    margin: 0;
    font-family: 'Germania One', cursive;
}

.dropdownclass{
    display: none;
}

#headernav{
    list-style-type: none;
    text-align: center;
    background-color: #464646;
    position: sticky;
    top: 0;
    z-index: 10;
}

#headerul{
    margin: 0;
}

.navbarli{
    display: inline-block;
    padding: 10px;
}

.navbarli:hover{
    background-color: #515151;
}

a{
    color: black;
    padding: 10px;
    margin: 0;
    text-decoration: none;
}

#logout{
    color: black;
    background-color: #464646;
    border-style: none;
    font-family: 'Germania One', cursive;

}

.footerdiv{
    background-color: #464646;
    height: 300px;
    overflow: hidden;
    width: 100%;
    margin: 0 0 0;
    display: inline-block;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #EEEEEE;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #2A2A2A;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#ftable{
    margin: auto;
    padding: 5px;
}

th, td, tr{
    text-align: center;
    padding: 15px;
}

th{
    font-weight: bold;
}

td{
    width: 300px;
}

audio{
    position: sticky;
    bottom: 10px;
    left: 10px;
}

.pagili{
    margin: 0;
    max-width: 50px;
    width: auto;
    max-height: 30px;
    height: auto;
    display:inline-block;
    text-align:center;

}

#postimgdiv{
    padding: 0;
}

#postimg{
    max-width: 400px;
    width: auto;
    height: auto;
}

#postdiv{
    background-color: #464646;
    margin: 30px;
    max-width: 450px;
    width: auto;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    padding: 5px;

}

.postbutton{
    max-width: 70px;
    width: auto;
    height: 25px;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    background-color: grey;
    border-color: grey;
    margin: 5px;
}

#titlediv{
    font-size: 25px;
    float: left;
    margin: 5px 5px 5px 15px;
}

#topusers{
    background-color: #464646;
    margin: 20px;
    max-width: 300px;
    width: auto;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    padding: 5px;
}

#patreon{
    max-width: 275px;
    height: 45px;
}

#rewards{
    padding: 5px;
}

@media only screen and (max-width: 800px) {
    .dropdownclass{
        display: block;
    }

    .footerdiv{
        display: none;
    }

    .navbarli{
        display: none;
        padding: 10px;
        width: auto;
    }

    #dropdownimg:hover{
        transform: rotate(90deg);
    }

    #headerul{
        padding: 0;
    }
}